$cuadrado-uno: #7bed9f;
$cuadrado-dos: #2ed573;

$triangulo-uno: #eccc68;
$triangulo-dos: #ffa502;

$circulo-uno: #70a1ff;
$circulo-dos: #1e90ff;

$rectangulo-uno: #34e7e4;
$rectangulo-dos: #00d8d6;

$rombo-uno: #D6A2E8;
$rombo-dos: #82589F;



.header-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  padding: 30px 20px;
  text-align: center;
  width: 100%;

  &__title {
    margin: 0;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 10px 0;
    font-weight: 400;
  }
}

.articles {
  padding: 20px;

  &__article {
    align-items: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
    max-width: 350px;
    min-height: 300px;
    padding: 15px;

    &__title {
      margin: 5px 0;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &__form {
      align-items: center;
      display: flex;
      flex-direction: column;

      .label {
        margin: 5px;
        text-align: center;
      }

      .input {
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 20px;
        color: white;
        height: 30px;
        margin-bottom: 10px;
        outline: none;
        text-align: center;
        width: 100%;

        &:hover {
          border: 2px solid white;
        }
      }

      &__title-buttons {
        font-size: 16px;
        font-weight: 400;
      }

      &__buttons {
        display: flex;        
        width: 100%;

        .button {
          background-color: rgba(255, 255, 255, 0.3);
          border: 2px solid transparent;
          border-radius: 30px;
          color: white;
          font-size: 1rem;
          font-weight: bold;
          flex: 1;
          height: 30px;
          margin: 0 5px;
          overflow: hidden;

          &:hover {
            border: 2px solid white;
          }
        }
      }
    }
    &__answer {
      border-bottom: 2px solid white;
      height: 35px;
      margin: 15px 0;
      text-align: center;
      width: 90%;
    }
  }
}

.cuadrado {
  background-color: $cuadrado-dos;
  border: 4px solid $cuadrado-uno;
}

.triangulo {
  background-color: $triangulo-dos;
  border: 4px solid $triangulo-uno;
}

.circulo {
  background-color: $circulo-dos;
  border: 4px solid $circulo-uno;
}

.rectangulo {
  background-color: $rectangulo-dos;
  border: 4px solid $rectangulo-uno;
}

.rombo {
  background-color: $rombo-dos;
  border: 4px solid $rombo-uno;
}